<div id="<%= dom_id dividend %>">
  <p>
    <strong>国名</strong>
    <%= dividend.countory.name %>
  </p>

  <p>
    <strong>銘柄コード:</strong>
    <%= dividend.code %>
  </p>

  <p>
    <strong>銘柄名:</strong>
    <%= dividend.name %>
  </p>

  <p>
    <strong>入金日:</strong>
    <%= dividend.income_date %>
  </p>

  <p>
    <strong>1株配当（円）:</strong>
    <%= dividend.dividend_per_share %>
  </p>

  <p>
    <strong>株数:</strong>
    <%= dividend.shares %>
  </p>

  <p>
    <strong>入金額（円）:</strong>
    <%= dividend.actual_dividend %>
  </p>

</div>
